streamlit
fastapi
uvicorn
langchain
langchain-community
chromadb
sentence-transformers
beautifulsoup4
unstructured
python-multipart
pandas
requests
pydantic
google-generativeai
langchain-google-genai
